/*body的样式*/
body {
    background-color: #BFC5D9;   /*背景颜色*/
    padding-bottom: 20px;
    text-align: center;
    font-family: "Microsoft Yahei", monospace, "Microsoft Sans Serif", sans-serif, OpenSans-Light, PingFang SC;
}

body.darkMode {
    background-color: #252725;   /*dark mode模式下的背景颜色*/
}

#emotionNetName {
    position: absolute;
    left: 10px;
    color: rgba(236,235,234,0.96);
    font-size: 38px;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: left;
    margin-left: 40px;
}
#emotionNetName.darkMode {
    color: rgba(69, 75, 111, 0.96);
}

/*label的样式*/
#label {
    position: absolute;
    left: 30px;
    top: 200px;
    text-align: left;
    color: #f2f2f2;
    font-size: 16px;
}

/*label的样式*/
#label.darkMode {
    color: rgba(128, 128, 128, 0.96);
}

/*label圆形小圈的样式*/
#label>div {
    margin-bottom: 15px;
}

/**/
#label span {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;
    top: 2px;
    margin-right: 8px;
    margin-bottom: 2px;
    border-radius: 20px;
}

/*mode-模式切换的style*/
#mode {
    position: absolute;
    top: 100px;
    left: 30px;
}

#mode span {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    transition: color, background-color .3s; /*CSS3中的渐变*/
    -o-transition: color, background-color .3s;
    -ms-transition: color, background-color .3s;
    -moz-transition: color, background-color .3s;
    -webkit-transition: color, background-color .3s;
}

/*当按键处于激活状态的时候*/
#mode span.active {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

/*当按键处于鼠标悬浮状态的时候*/
#mode span:hover {
    background-color: #d9e1e8;
    color: #333;
    cursor: pointer;
}

#mode span.darkMode {
    border: 1px solid #717171;
    color: rgba(128, 128, 128, 0.96);
}

/*当按键处于激活状态的时候*/
#mode span.darkMode.active {
    background-color: rgba(69, 75, 111, 0.96);
    color: #808080;
}

/*当按键处于鼠标悬浮状态的时候*/
#mode span.darkMode:hover {
    background-color: #484a46;
    color: #333;
}

#darkMode span {
    display: inline-block;
    border: 1px solid #fff;
    color: rgba(117, 123, 167, 0.91);
    padding: 2px 3px;
    border-radius: 3px;
    font-size: 10px;
    text-align: center;
    transition: color, background-color .3s; /*CSS3中的渐变*/
    -o-transition: color, background-color .3s;
    -ms-transition: color, background-color .3s;
    -moz-transition: color, background-color .3s;
    -webkit-transition: color, background-color .3s;
}

/*当按键处于鼠标悬浮状态的时候*/
#darkMode span:hover {
    background-color: #1f1f25;
    color: rgba(117, 123, 167, 0.91);
    cursor: pointer;
}

#darkMode span.darkMode {
    display: inline-block;
    border: 1px solid #fff;
    color: #7b878a;
    padding: 2px 3px;
    border-radius: 3px;
    font-size: 10px;
    text-align: center;
    transition: color, background-color .3s; /*CSS3中的渐变*/
    -o-transition: color, background-color .3s;
    -ms-transition: color, background-color .3s;
    -moz-transition: color, background-color .3s;
    -webkit-transition: color, background-color .3s;
}

/*当按键处于鼠标悬浮状态的时候*/
#darkMode span.darkMode:hover {
    background-color: #f3f2f1;
    color: #555958;
    cursor: pointer;
}

#switcher1 {
    position: absolute;
    top: 200px;
    left: 170px;
}

/* toggle开关使用inline-block*/
#switcher1 span {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 12px;
    transition: color, background-color .3s; /*CSS3中的渐变*/
    -o-transition: color, background-color .3s;
    -ms-transition: color, background-color .3s;
    -moz-transition: color, background-color .3s;
    -webkit-transition: color, background-color .3s;
}

/* toggle开关使用inline-block*/
#switcher1 span.darkMode {
    border: 1px solid #717171;
    color: rgba(128, 128, 128, 0.96);
}

/*当按键处于激活或者鼠标悬浮状态的时候*/
#switcher1 span.active{
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

#switcher1 span.darkMode.active {
    background-color: rgba(69, 75, 111, 0.96);
    color: #808080;
}

/*当按键处于激活或者鼠标悬浮状态的时候*/
#switcher1 span:hover{
    background-color: #d9e1e8;
    color: #333;
    cursor: pointer;
}

/*当按键处于鼠标悬浮状态的时候*/
#switcher1 span.darkMode:hover {
    background-color: #484a46;
    color: #333;
}

#switcher2 {
    position: absolute;
    top: 225px;
    left: 170px;
    margin-top: 12px;
}

#switcher2 span {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 12px;
    transition: color, background-color .3s; /*CSS3中的渐变*/
    -o-transition: color, background-color .3s;
    -ms-transition: color, background-color .3s;
    -moz-transition: color, background-color .3s;
    -webkit-transition: color, background-color .3s;
}
/* toggle开关使用inline-block*/
#switcher2 span.darkMode {
    border: 1px solid #717171;
    color: rgba(128, 128, 128, 0.96);
}

/*当按键处于激活或者鼠标悬浮状态的时候*/
#switcher2 span.active {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

#switcher2 span.darkMode.active {
    background-color: rgba(69, 75, 111, 0.96);
    color: #808080;
}


/*当按键处于激活或者鼠标悬浮状态的时候*/
#switcher2 span:hover{
    background-color: #d9e1e8;
    color: #333;
    cursor: pointer;
}
/*当按键处于鼠标悬浮状态的时候*/
#switcher2 span.darkMode:hover {
    background-color: #484a46;
    color: #333;
}

#switcher3 {
    position: absolute;
    top: 250px;
    left: 170px;
    margin-top: 24px;
}

#switcher3 span {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 12px;
    transition: color, background-color .3s; /*CSS3中的渐变*/
    -o-transition: color, background-color .3s;
    -ms-transition: color, background-color .3s;
    -moz-transition: color, background-color .3s;
    -webkit-transition: color, background-color .3s;
}

#switcher3 span.darkMode {
    border: 1px solid #717171;
    color: rgba(128, 128, 128, 0.96);
}

/*当按键处于激活或者鼠标悬浮状态的时候*/
#switcher3 span.active {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

#switcher3 span.darkMode.active {
    background-color: rgba(69, 75, 111, 0.96);
    color: #808080;
}

/*当按键处于激活或者鼠标悬浮状态的时候*/
#switcher3 span:hover{
    background-color: #d9e1e8;
    color: #333;
    cursor: pointer;
}

/*当按键处于鼠标悬浮状态的时候*/
#switcher3 span.darkMode:hover {
    background-color: #484a46;
    color: #333;
}

#switcher4 {
    position: absolute;
    top: 275px;
    left: 170px;
    margin-top: 36px;
}

#switcher4 span {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 12px;
    transition: color, background-color .3s; /*CSS3中的渐变*/
    -o-transition: color, background-color .3s;
    -ms-transition: color, background-color .3s;
    -moz-transition: color, background-color .3s;
    -webkit-transition: color, background-color .3s;
}


/* toggle开关使用inline-block*/
#switcher4 span.darkMode {
    border: 1px solid #717171;
    color: rgba(128, 128, 128, 0.96);
}

p{
    transition: top .3s; /*CSS3中的渐变*/
    -o-transition: top .3s;
    -ms-transition: top .3s;
    -moz-transition: top .3s;
    -webkit-transition: top .3s;
}

/*当按键处于激活或者鼠标悬浮状态的时候*/
#switcher4 span.active {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

#switcher4 span.darkMode.active {
    background-color: rgba(69, 75, 111, 0.96);
    color: #808080;
}

/*当按键处于激活或者鼠标悬浮状态的时候*/
#switcher4 span:hover{
    background-color: #d9e1e8;
    color: #333;
    cursor: pointer;
}

/*当按键处于鼠标悬浮状态的时候*/
#switcher4 span.darkMode:hover {
    background-color: #484a46;
    color: #333;
}

/*info的样式*/
#labelProperty {
    position: absolute;
    top: 0px;
    /*bottom: 40px;*/
    right: 10px;
    text-align: left;
    width: 200px;  		/*255px*/
    /*border: lightgrey 1px dotted;*/

}

#labelProperty p {
    color: #fff;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#tooltips {
    width: 210px;
    position: relative;
    top: -45px;
    left: 30px;
    color: rgba(16,23,38,0.92);
    font-size: 12px;
    font-family: "Microsoft Yahei", monospace, "Microsoft Sans Serif";
    text-align: left;
}

#tooltips.darkMode {
    color: rgba(111, 110, 109, 0.92);
}



/*搜索框的样式*/
#search input {
    position: absolute;
    top: 150px;
    left: 30px;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    width: 200px;
    /*display: none;*/
    background-color: rgba(158, 162, 157, 0.72);
}

/*搜索框的样式*/
#search input.darkMode {
    background-color: #1f1f1e
}


#project-footer{
    position: relative;
    top: 10em;
    text-align: center;
}

/* GitHub icon styles */
.github-icon {
    color: rgba(236, 235, 234, 0.85) !important;
    transition: color 0.3s ease, opacity 0.3s ease;
    opacity: 0.9;
}

.github-icon:hover {
    color: rgba(236, 235, 234, 1) !important;
    opacity: 1;
}

body.darkMode .github-icon {
    color: rgba(69, 75, 111, 0.85) !important;
    opacity: 0.9;
}

body.darkMode .github-icon:hover {
    color: rgba(69, 75, 111, 1) !important;
    opacity: 1;
}