/*定义图片框样式，隐藏滚轴*/
.showImage{
    position: relative;
    top: 10px;
    width: 200px;
    height: 59px;
    padding-bottom: 12px;
    /*padding-top: 6px;*/
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

/*定义横向滑框*/
.imageContent {
    position:relative;
    overflow-x:auto; /*再现隐藏的横向的后面几张图片*/
    overflow-y: hidden;
    width: 195px;
    margin: 0;
    height:75px;
}

.imageContent ul { /*422*55*/
    position:relative;
    padding-left: 0; /*这个一定要设置为0，不然会有一个多余的左边padding-left 40px,图片不能对齐*/
    display: inline-block;
    /*flex-wrap:nowrap;*/
    overflow-x: hidden; /*横向超出部分直接截取掉*/
    overflow-y: hidden;
    margin: 0; /*消除默认的10px margin-bottom 避免上元素被撑起来，从而出现讨厌的滚轴*/
}


.imageContent ul li { /*57 * 55*/
    display:inline-block;
    width:57px;
    text-align:left;
    list-style:none;
    /*border-radius: 20px;*/
}

/*.imageContent ul li :hover{ !*57 * 55*!*/
/*    display:inline-block;*/
/*    border: whitesmoke 4px solid;*/
/*    */
/*    !*border-radius: 20px;*!*/
/*}*/

@-webkit-keyframes  shine {
    from{ -webkit-box-shadow: 0 0 3px #ffffff;}
    to{ -webkit-box-shadow: 0 0 3px #ffffff;}
}

.shiningBorder{
    -webkit-animation-name: shine;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
}

/* Responsive styles for mobile */
@media only screen and (max-width: 768px) {
    .showImage {
        width: 100%;
        height: auto;
        padding: 6px;
    }
    
    .imageContent {
        width: 100%;
        height: 65px;
    }
    
    .imageContent ul li {
        width: 48px;
    }
    
    .imageContent ul li img {
        width: 45px !important;
        height: 45px !important;
    }
}

@media only screen and (max-width: 480px) {
    .showImage {
        width: 100%;
        height: auto;
        padding: 3px;
    }
    
    .imageContent {
        width: 100%;
        height: 50px;
    }
    
    .imageContent ul li {
        width: 38px;
    }
    
    .imageContent ul li img {
        width: 35px !important;
        height: 35px !important;
    }
    
    .imageItem {
        width: 35px !important;
        height: 35px !important;
        padding: 1px !important;
    }
}
